*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
.App {
  text-align: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  margin: 0;
  padding: 1%;
  color:white;
  padding-top: 5%;
}

.user-form{
  color:white;

  width: 50%;
  padding: 2%;
  margin: 1% auto;
  border: 2px solid white;
}

.label{
  width: 50%;
  margin: 50px
  /* border: 2px solid white; */
  
  /* padding: 10%; */
}

.user-card{
  list-style-type:none;
  color:white;

  width: 50%;
  padding: 2%;
  margin: 1% auto;
  border: 2px solid white;
}
